.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.children-container {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 380px;
  height: calc(100vh - 56px);
  overflow: hidden;
}
